.xyz{
  flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #252525;
}

.input{
  text-align: center;
  padding-bottom: 18px;
  .input_search{
    width: 80%;
    border-radius: 18px;
    padding: 20px;
    height: 15px;
  }
}


