<div class="container mt-4" style="margin: 0 auto">
  <div class="input">
    <mat-form-field class="input_search">
      <input matInput #search (keyup.enter)="onEnter(search)"  placeholder="Search Giphy">
    </mat-form-field>
  </div>
  <div style="justify-content: center" class="d-flex flex-wrap">
    <div  *ngFor="let giphs of listOfGiphs">
      <div class="container-image">
        <img class="image" [src]="giphs.images.downsized_large.url" style="height: 150px;">
        <div class="overlay">
          <mat-icon (click)="save(giphs)" style="color: black" aria-hidden="false" aria-label="favorite">favorite</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
