<div class="container mt-4" style="margin: 0 auto">
  <div class="input">
    <mat-form-field class="input_search">
      <input matInput #search (keyup.enter)="onEnter(search)"  placeholder="Search Giphy">
    </mat-form-field>
    <button *ngIf="authService.user | async" (click)="viewFavorite()" mat-fab aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div style="justify-content: center" class="d-flex flex-wrap">
    <div  *ngFor="let giph of listOfGiphs; let i = index;">
      <div class="container-image">
        <img class="image" [src]="giph.images.downsized_large.url" style="height: 150px;" alt="image">
        <div *ngIf="(authService.user | async) && ifNormalSearch()" class="overlay">
          <mat-icon (click)="save(giph)" style="color: white" aria-hidden="false" aria-label="add">add</mat-icon>
        </div>
        <div *ngIf="(authService.user | async) && !ifNormalSearch()" class="overlay-red">
          <mat-icon *ngIf="!ifNormalSearch()" (click)="remove(i, giph)" style="color: white" aria-hidden="false" aria-label="remove">remove</mat-icon>
        </div>
      </div>
    </div>
    <button mat-stroked-button class="max-width" *ngIf="searchText.length > 0" (click)="searchMore()">Search More</button>
  </div>
</div>
